.citacao-bio {
  background-color: #D9E5E3;
  margin: 10px 30px;
  padding: 20px;
  border: 10px solid #C2CCCA;
  width: 250px;
  box-sizing: border-box;
}

.fiat {
  float: right;
}

.petrobras {
  float: left;
}

cite {
  text-align: right;
  display: block;
  font-style: italic;
}