.citacao-bio {
  background-color: #D9E5E3;
  margin: .5rem 1.5rem;
  padding: 1rem;
  border: .5rem solid #C2CCCA;
  width: 250px;
  box-sizing: border-box;
}

.fiat {
  float: right;
}

.petrobras {
  float: left;
}

cite {
  text-align: right;
  display: block;
  font-style: italic;
}