.portfolio li {
  width: 45%;
  padding: .5em;
  display: inline-block;
  border: .5em solid #000;
  background-color: #FAFFFC;
  box-sizing: border-box;
  margin-right: 1em;
  margin-bottom: 1em;
}

.portfolio img {
  width: 100%;
}