body {
  font-family: 'Crimson Text', 'Times New Roman', sans-serif;
  font-size: 1rem;
  background-color: #F2FFFC;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Open Sans Condensed', 'Arial', sans-serif;
  clear: both;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

p {
  text-align: justify;
  margin: 1rem 0;
}

.titulo-da-pagina {
  background-color: #851644;
  color: #FFF;
  padding: 1.25rem;
  border-bottom: .5rem solid #000;
}

.titulo-da-pagina h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

.subtitulo-da-pagina {
  font-family: 'Open Sans Condensed', 'Arial', sans-serif;
  text-align: center;
}

.container {
  width: 720px;
  margin: auto;
  padding: .5em 0;
  padding-bottom: 4rem;
}

.container h2 {
  font-size: 1.5rem;
}

.container a {
  color: #851944;
}

.navegacao-site {
  background-color: #3C1D3D;
  color: #F2FFFC;
  text-align: center;
  padding: .25rem;
  border-left: .5rem solid #000;
  border-bottom: .5rem solid #000;
  box-sizing: border-box;
  width: 15%;
  position: relative;
  top: 310px;
}

.foto-joao {
  border-left: 10px solid #000;
  border-bottom: 10px solid #000;
  position: absolute;
  top: 0;
  right: 0;
}

.navegacao-site a {
  color: inherit;
  font-family: 'Open Sans Condensed', 'Arial', sans-serif;
  text-transform: lowercase;
}

.navegacao-site h1 {
  font-size: 1.5rem;
  margin: 1.25rem;
  text-transform: uppercase;
}

.navegacao-site ul {
  list-style-type: none;
  padding: 0;
}

.navegacao-site, .foto-joao {
  float: right;
  box-sizing: border-box;
}

main {
  float: left;
  width: 85%;
}

.social-media li {
  display: inline-block;
}

.social-media a {
  width: 40px;
  height: 40px;
  display: inline-block;
  color: transparent;
}

.github {
  background-image: url(../img/icon/github.png);
}

.twitter {
  background-image: url(../img/icon/twitter.png);
}

.linkedin {
  background-image: url(../img/icon/linkedin.png);
}

#rodape {
  background-color: #000;
  color: #F2FFFC;
  padding: 1rem;
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
}