body {
    font-family: 'Crimson Text', sans-serif;
    font-size: 120%;
    background-color: #F2FFFC;  
}

h1, h2 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    text-align: center;
    background-color: #851644;
    color: #FFF;
}

p {
    text-align: justify;
}