body {
  font-family: 'Crimson Text', 'Times New Roman', sans-serif;
  font-size: 120%;
  background-color: #F2FFFC;
  line-height: 1.5;
}

h1, h2 {
  font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.titulo-da-pagina h1 {
  text-align: center;
  background-color: #851644;
  color: #FFF;
  padding: 20px;
  margin: 0px;
  border-bottom: 10px solid #000;
  font-size: 60px;
}

.linha-do-tempo {
  width: 720px;
  margin: auto;
  padding: 30px 0px;
}

.linha-do-tempo h2 {
  font-size: 30px;
}

.linha-do-tempo a {
  color: #851944;
}

p {
  text-align: justify;
  margin: 20px 0px;
}

.citacao-bio {
  background-color: #D9E5E3;
  margin: 20px 40px;
  padding: 20px;
  border: 10px solid #C2CCCA;
  width: 250px;
  box-sizing: border-box;
}

.navegacao-site {
  background-color: #3C1D3D;
  color: #F2FFFC;
  text-align: center;
}

.navegacao-site a {
  color: inherit;
  font-family: 'Open Sans Condensed', 'Arial', sans-serif;
}

.navegacao-site h1 {
  font-size: 30px;
  margin: 25px;
}

.navegacao-site ul {
  list-style-type: none;
  padding: 0px;
}

.social-media li {
  display: inline-block;
}

.post-blog {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

#rodape {
  background-color: #000;
  color: #F2FFFC;
  padding: 20px;
}

.leia-mais {
  font-size: 150%;
  text-align: center;
}

